export AWS_REGION="us-east-1"
export MODEL_BUCKET="pfs-modelops-494321812137-us-east-1"
export USE_MODELOPS_S3="true"
export MODELOPS_PREFIX="modelops/latest"
export MODELOPS_REGISTRY_PREFIX="modelops/registry"
export APP_EXPORT_BUCKET="$MODEL_BUCKET"
export APP_EXPORT_PREFIX="app/batch_exports"
export DATA_DIR="data"
export DISABLE_RDS_WRITES="true"
export MAX_TRAIN_ROWS="300000"
