export AWS_REGION="us-east-1"
export USE_MODELOPS_S3="true"
export MODELOPS_PREFIX="modelops/latest"
export MODELOPS_REGISTRY_PREFIX="modelops/registry"
export APP_EXPORT_PREFIX="app/batch_exports"
export MODELOPS_LOCAL_ROOT="modelops_outputs"
export DATA_DIR="data"
# export MODEL_BUCKET="pfs-modelops-<account>-us-east-1"
