export AWS_REGION="us-east-1"
export USE_MODELOPS_S3="true"
export MODELOPS_PREFIX="modelops/latest"
export MODELOPS_REGISTRY_PREFIX="modelops/registry"
export MODELOPS_LOCAL_ROOT="modelops_outputs"
export DATA_DIR="data"
export DISABLE_RDS_WRITES="true"
# export MODEL_BUCKET="pfs-modelops-<ACCOUNT_ID>-us-east-1"
